body {
    background-color: #fcf5c7;
}
h1 {
    font-family: "Degular",sans-serif;
    font-size: 4em;
    text-align: center;
}

article {
    font-family: "Degular",sans-serif;
    font-weight: 600;
    padding: .5em 0;
    margin: 100px;
    padding: 100px;
    /*background-color:   #CCFFFF;*/
    background-color:   #ffee93;

}

img {
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 100%;
    height: auto;
    padding: 100px;
  }